/* stylelint-disable property-no-vendor-prefix */

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: lightgrey;
}


/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #fff;
    color: #292929;
    text-align: center;
    text-shadow: 0 1px 3px #ffd4d4;
}

/*
    Project section
*/

.project-block {
    background-color: black;
    width: 500px;
    height: 300px;
}
